.burger{
  min-height: 30px;
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 0;

  @include media('>=medium') {
    display: none;
  }

  .icon {
    min-height: 30px;
    margin: 10px 0;
    pointer-events: none;

    &-close {
      display: none;
    }
  }

  &--close{
    .icon {
      &-burger {
        display: none;
      }
      &-close {
        display: block;
      }
    }
  }
}