.btn{
  padding: 10px 20px;
  background: $white-color;
  border: 2px solid $dark-color;
  margin: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: .75rem;
  font-family: 'montserrat', sans-serif;
  cursor: pointer;

  &:hover{
    background: $dark-color;
    color: $white-color;
  }

  &--pull{
    position: relative;

    &:after {
      content: '';
      background: $dark-color;
      width: 2px;
      height: 200px;
      bottom: -200px;
      position: absolute;
      left: 50%;

      @include media('>=medium') {
        height: 150px;
        bottom: -150px;
      }
    }
  }
}