body {
  font-family: 'Assistant', sans-serif;
  color: $dark-color;
  font-size: $root-font-size;
  letter-spacing: rem(0.1);
  line-height: $body-line-height;
  -webkit-font-smoothing: antialiased;

  // -----------------------------------------------------------------------------
  // utility `no-scroll` class for overlays
  // -----------------------------------------------------------------------------
  &.disable-scroll {
    position: fixed;
    overflow: hidden;
    @include media( '>=medium') {
      position: static;
    }
  }
}

.logo {
  position: absolute;
  padding: 20px;
  max-width: 150px;

  @include media('>=medium') {
    max-width: inherit;
  }
}

.content {
  text-align: center;
  padding: 50px 40px;

  @include media('>=medium') {
    padding: 50px 150px;
  }

  &--pull{
    margin-top: 300px;
  }

  img {
    margin: auto;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;

    @include media('>=medium') {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  h1,h2,h3,h4,h5,h6{
    &:first-child{
      margin-top: 0;
    }
  }

  &.bottom-aligned{
    display: flex;
    align-items: center;
    min-height: 500px;
  }

  &.full-width {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.full-height {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .row{
    padding: 20px 0;
  }
}

.focus-text {
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 300;
}

.highlight-text {
  font-size: 1rem;
  line-height: 1.75em;
  font-weight: 600;
  margin: 20px auto;

  &.half{
    max-width: 70px;
  }

  &.full {
    max-width: 180px;
  }
}

footer{
  color: $white-color;
  background-color: $dark-color;
  padding: 60px 40px;

  @include media('>=medium') {
    padding: 60px 0;
  }

  .valtech-logo{
    margin: 20px 0 20px auto;
  }
}

.heading{
  &-light {
    font-family: 'Assistant', sans-serif;
    font-weight: 100;

    @include media('<medium') {
      line-height: 1.25em;
    }
  }
}

.big{
  font-size: 3em;
}

.medium {
  font-size: 1.5em;
}

.small {
  font-size: .75em;
}

.medium-height {
  line-height: 1em;
}

.extra-padding{
  padding: 10px 20px;
}

.themes{
  .col{
    padding: 20px 0;
  }

  @include media('>=medium') {
    display: flex;
    justify-content: space-between;
    .col {
      max-width: 340px;
    }
  }
}

.footer{
  display: flex;
  justify-content: space-between;

  &>*{
    width: 50%;
  }
}