@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
// Had to include variables to overwrite variables from bootstrap
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  
  @media (min-width: $screen-sm-min) {
  	margin: 0 auto;
    max-width: $container-desktop;
  }
}

.row{
  margin-left: 0;
  margin-right: 0;
}