*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'montserrat', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;

  &:focus {
    outline: rem(1) solid rgba($dark-color, .2);
  }
}

p {
  a {
    text-decoration: underline;
  }
}

picture,
img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}