@function rem($pxValue, $font-size: 16){
  @return $pxValue / $font-size * 1rem;
}

@mixin responsive-settings($map, $property, $breakpoints: $breakpoints) {
  @each $breakpoint, $value in $map {
    @if $breakpoint == null {
      #{$property}: $value;
    } @else {
      @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint: map-get($breakpoints, $breakpoint);
      }

      @media screen and (min-width: $breakpoint) {
        #{$property}: $value;
      }
    }
  }
}
