// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$dark-color: #000;
$dark-green-color: #004532;
$darker-green-color: #005c43;
$light-green-color: #799b2a;
$lighter-green-color: #80A299;
$medium-green-color: #005c43;
$lightest-green-color: #EEF7DB;
$grey-color: #B2B1B1;
$grey-light-color: #ebe9eb;
$lighter-grey-color: #f8f8f8;
$grey-dark: #8f8f8f;
$white-color: #fff;
$border-color: #ccc;
$form-border-color: #cbcbcb;
$red-color: #fa100e;
$burgundy-color: #dd1131;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$base-font-size: 12;
$root-font-size: percentage($base-font-size / 16);

$default-line-height: 1.2;
$body-line-height: 21 / $base-font-size;

$body-font-size: rem($base-font-size);

$heading-font-weight: normal;
$heading-default-color: $dark-color;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$breakpoints: (
  'small': 320px,
  'large': 769px,
  // we keep medium for maintainability purposes
  'medium': 769px
);

$screen-xs: map-get($breakpoints, small);
$screen-sm: map-get($breakpoints, small);
$screen-md: map-get($breakpoints, large);
$screen-lg: map-get($breakpoints, large);

// Overwriting bootstrap mixin to fit the 769px grid.
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-sm-min: $screen-lg;

$container-desktop: 1400px;