.image-grid{
  display: flex;
  flex-wrap: wrap;

  &__item{
    flex-basis: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;

    @include media('>=medium') {
      flex-basis: 50%;
    }
  }
}