.menu{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  background-image: url('/images/hero-bg.png');
  background-color: #FDE9E6;
  background-size: 350%;
  background-repeat: no-repeat;
  background-position: 20% 130%;
  display: none;

  &--show {
    display: flex;
  }

  @include media('>=medium') {
    font-size: 1.25rem;
    height: auto;
    justify-content: flex-end;
    background: none;
    padding: 80px 50px 0 0;
    display: flex;
  }

  ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
    margin: auto;

    @include media('>=medium') {
      flex-direction: row;
      margin: 0;
    }

    li{
      margin: 0;
      list-style-type: none;

      @include media('>=medium') {
        padding-left: 50px;
      }

      a{
        position: relative;
        &:before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          min-width: 0;
          height: 1px;
          background-color: $dark-color;
          transition: all .5s ease-in-out;
        }

        &:hover{
          &:before {
            content: "";
            min-width: 100%;
          }
        }

        @include media('<medium') {
          &:before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 15px;
            width: calc(100% - 30px);
            height: 1px;
            background-color: $dark-color;
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  }
}