.section {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #FDE9E6;
  background-size: 270%;
  background-repeat: no-repeat;
  background-position: 20% 250%;
  min-height: 500px;

  @include media('>=medium') {
    background-size: contain;
    background-position: center 140%;
  }

  @include media('>=1400px') {
    background-size: cover;
    background-position: center 40%;
  }

  &--hero{
    margin-bottom: -250px;
  }

  &--content {
    background-color: #F7CCC6;
    
    @include media('>=medium') {
      background-size: cover;
      background-position: center;
    }
  }

  &__menu{
    position: relative;
    width: 100%;
    margin: auto;

    @include media('>=1500px') {
      width: 1170px;
    }
  }

  &__team{
    @include media('>=medium') {
      display: flex;
      flex-wrap: wrap;
    }

    li{
      list-style-type: none;
      margin: 0;
      position: relative;

      @include media('>=medium') {
        flex: 1 1 50%;
      }

      .desc {
        position: absolute;
        right: 20px;
        top: 40px;
        text-align: left;
        font-size: 12px;

        @include media('>=medium') {
          font-size: 14px;
        }

        h3, p{
          margin: 0;
          font-size: 1em;
          line-height: 1.25em;
        }
      }

      img{
        max-width: 60%;
      }
    }
  }
}