<section class="section" style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="section__menu">
    {{render '@logo'}} {{render '@burger'}} {{render '@menu'}}
  </div>
  <div class="container content bottom-aligned">
    <div class="content__wrapper">
      <h1>{{pageTitle}}</h1>
      <p class="highlight-text">
        {{bodyCopy}}
      </p>
    </div>
  </div>
</section>

<div class="container">
  {{> @image-grid images=firstImageGrid}}
</div>

<div class="container content full-width">
  <h2 class="heading-light big">{{banner2.heading}}</h2>
  <p class="highlight-text">
    {{banner2.subtitle}}
  </p>
  <div class="row">
    {{#each banner2.columns}}
      <div class="col-sm-12 col-lg-4">
        {{> '@section-icon' icon=this.sectionIcon}}
        <h3 class="highlight-text {{#if smallTitle}}half{{else}}full{{/if}}">{{this.title}}</h3>
        <p class="focus-text medium extra-padding">{{this.bodyCopy}}</p>
      </div>
    {{/each}}
  </div>
</div>

<section class="section" style="background-color: rgba(253, 233, 230, .98); background-image: url('{{ path banner3.patternUrl }}')">
  <div class="container content full-width full-height">
    <div class="themes">
      <div class="col">
        <h3 class="highlight-text">{{banner3.columnOne.heading}}</h3>
        {{#each banner3.columnOne.themes}}
          <p class="focus-text small medium-height">{{this}}</p>
        {{/each}}
      </div>
      <div class="col">
        <h3 class="highlight-text">{{banner3.columnTwo.heading}}</h3>
        {{#each banner3.columnTwo.themes}}
          <p class="focus-text small medium-height">{{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<div class="container">
  {{> @image-grid images=secondImageGrid}}
</div>

<section class="section section--content" style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="container content">
    <h4 class="heading-light">{{ctaBanner.heading}}</h4>
    {{#each ctaBanner.paragraphs}}
      <p class="highlight-text">{{this}}</p>
    {{/each}}

    {{> @button action=ctaBanner.cta.action label=ctaBanner.cta.label pull=false}}
  </div>
</section>

{{render '@footer'}}