<section class="section section--hero"  style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="section__menu">
    {{render '@logo'}} {{render '@burger'}} {{render '@menu'}}
  </div>
  <div class="container content">
    <img src="{{ path '/images/support-icon.png' }}" alt="Support Icon"/>
    <h1>{{pageTitle}}</h1>
    {{> @button action='#mission' label=whatWeDoButtonLabel pull=true}}
  </div>
</section>

<div class="container content content--pull" id="mission">
  <h2>{{banner2.heading}}</h2>
  <p class="focus-text">
    {{banner2.title}}
  </p>
  <p class="highlight-text">
    {{banner2.bodyCopy}}
  </p>
  {{> @button action='how-it-works.html' label=banner2.ctaButton pull=false}}
</div>

<div class="container">
  {{> @image-grid images=imageGrid}}
</div>

<section class="section section--content" style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="container content">
    <h4 class="heading-light">{{ctaBanner.heading}}</h4>
    {{#each ctaBanner.paragraphs}}
      <p class="highlight-text">{{this}}</p>
    {{/each}}

    {{> @button action=ctaBanner.cta.action label=ctaBanner.cta.label pull=false}}
  </div>
</section>

 {{render '@footer'}}