<section class="section" style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="section__menu">
    {{render '@logo'}} {{render '@burger'}} {{render '@menu'}}
  </div>
  <div class="container content bottom-aligned">
    <div class="content__wrapper">
      <h1>{{pageTitle}}</h1>
      <p class="highlight-text">
        {{bodyCopy}}
      </p>
    </div>
  </div>
</section>

<div class="container content full-width">
  <h2 class="heading-light big">{{banner2.heading}}</h2>
  {{#each banner2.paragraphs}}
    <p class="highlight-text">
      {{this}}
    </p>
  {{/each}}
</div>

<section class="section" style="background-color: #f8cac4">
  <div class="container">
    <h2 class="heading-light">{{banner3.heading}}</h2>
    <ul class="section__team">
      {{#each banner3.members}}
      <li>
        <div class="desc">
          {{> '@section-icon' icon=4}}
          <h3 class="highlight-text small">{{this.name}}</h3>
          <p class="focus-text small">{{this.description}}</p>
        </div>
        <img src="{{path this.image}}" alt="{{this.name}}" />
      </li>
      {{/each}}
    </ul>
  </div>
</section>

<div class="container content full-width">
  <h2 class="heading-light big medium-height">{{banner4.heading}}</h2>
  {{#each banner4.rows}}
    <h3 class="highlight-text">{{this.title}}</h3>
    <p class="focus-text medium">{{this.description}}</p>
  {{/each}}
</div>

<section class="section section--content" style="background-image: url('{{ path '/images/hero-bg.png' }}')">
  <div class="container content">
    <h4 class="heading-light">{{ctaBanner.heading}}</h4>
    {{#each ctaBanner.paragraphs}}
    <p class="highlight-text">{{this}}</p>
    {{/each}} {{> @button action=ctaBanner.cta.action label=ctaBanner.cta.label pull=false}}
  </div>
</section>

 {{render '@footer'}}