
<div class="menu" role="navigation">
  <ul>
    <li><a href="how-it-works.html">What we do</a></li>
    <li><a href="team.html">Our team</a></li>
    <li><a href="mailto:50plus50@valtech.com">Join Us</a></li>
  </ul>
</div>