<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="50 +50 is a women-led group that aims to encourage the professional development of women in the digital and tech industries.">
  <meta name="url" content="http://www.50plus50.co">
  <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,600,700|Montserrat:400,500,700" rel="stylesheet">
	<link media="all" rel="stylesheet" href="{{ path '/css/entry.css' }}">
  <title>50+50 | Women in Digital group</title>
</head>

<body>

  {{{ yield }}}
  
</body>
<script src="{{ path '/scripts/main.js' }}"></script>
</html>