<button class="burger">
  <div class="icon icon-burger">
    <svg width="30px" height="22px" viewBox="0 0 30 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Navigation_Mobile" transform="translate(-311.000000, 0.000000)" fill="#000000">
          <path d="M339.977273,20 L312.022727,20 C311.458114,20 311,20.4479333 311,21 C311,21.5520667 311.458114,22 312.022727,22 L339.977273,22 C340.541886,22 341,21.5520667 341,21 C341,20.4479333 340.541886,20 339.977273,20 Z M339.977273,10 L312.022727,10 C311.458114,10 311,10.4479333 311,11 C311,11.5520667 311.458114,12 312.022727,12 L339.977273,12 C340.541886,12 341,11.5520667 341,11 C341,10.4479333 340.541886,10 339.977273,10 Z M312.022727,2 L339.977273,2 C340.541886,2 341,1.55206667 341,1 C341,0.447933333 340.541886,0 339.977273,0 L312.022727,0 C311.458114,0 311,0.447933333 311,1 C311,1.55206667 311.458114,2 312.022727,2 Z"
            id="Fill-1"></path>
        </g>
      </g>
    </svg>
    <span class="reader-label">Menu</span>
  </div>
  <div class="icon icon-close">
    <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="3-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Navigation-Mobile-Open" transform="translate(-332.000000, -19.000000)" fill="#000000">
          <g id="Navigation_Mobile" transform="translate(17.000000, 16.000000)">
            <path d="M335.490026,3.72317739 L315.723177,23.490026 C315.323935,23.8892682 315.316737,24.5299401 315.707107,24.9203102 C316.097477,25.3106803 316.738149,25.3034817 317.137391,24.9042396 L336.90424,5.13739095 C337.303482,4.73814882 337.31068,4.09747686 336.92031,3.70710678 C336.52994,3.3167367 335.889268,3.32393526 335.490026,3.72317739 Z M316.036886,5.45109945 L335.803735,25.2179481 C336.202977,25.6171902 336.843649,25.6243888 337.234019,25.2340187 C337.624389,24.8436486 337.61719,24.2029767 337.217948,23.8037345 L317.451099,4.03688589 C317.051857,3.63764376 316.411185,3.6304452 316.020815,4.02081528 C315.630445,4.41118536 315.637644,5.05185732 316.036886,5.45109945 Z"
              id="Fill-1"></path>
          </g>
        </g>
      </g>
    </svg>
    <span class="reader-label">Close menu</span>
  </div>
</button>