<footer>
  <div class="container footer">
    <div>
      <img src="{{ path plusIcon }}" alt="Plus Icon" />
      <p>{{paragraph}}</p>
    </div>
    <div>
      <img src="{{ path logo }}" alt="Valtech Logo" class="valtech-logo" />
    </div>
  </div>
</footer>